<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013654531270-bsd3hdajlu8q70d0k9ee3aut9jk20bmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013654531270-bsd3hdajlu8q70d0k9ee3aut9jk20bmt</string>
	<key>API_KEY</key>
	<string>AIzaSyCSTGN8dHfPSzjMj6nHZcaz5wxmXzcUUM4</string>
	<key>GCM_SENDER_ID</key>
	<string>1013654531270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.onlineschedule</string>
	<key>PROJECT_ID</key>
	<string>onlineschedule-fd2fa</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineschedule-fd2fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013654531270:ios:86f7e92bdc039979febbc7</string>
</dict>
</plist>